# Backend Dependencies
Flask==2.2.5
Flask-SocketIO==5.5.1
Flask-Cors==3.0.10          # Added for CORS support
Flask-Session==0.4.0        # Added for Flask session management
pymongo==4.11.3
pyjwt==2.9.0
flask-sock
frozen-flask==1.0.2
websocket-client==1.7.0
python-engineio==4.11.2
python-socketio==5.12.1
simple-websocket==1.1.0
Werkzeug==2.2.3
python-dotenv

# Utility & Security
bidict==0.23.1
blinker==1.9.0
click==8.1.8
colorama==0.4.6
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.5
wsproto==1.2.0

# Production WSGI Server
gunicorn==20.1.0
